h1{
width:100%;
color:blue;
text-align:center;
border:5px solid #73AD21

}


h2 
{
margin-top:;

background-color:white;
}


header
{
background-color:#95027B;
color:white;
padding:10px;
margin:5;

margin-top:-20;
}


header h1

{float:left;
margin-top:-20;	

background-color:green;
width:200px;
height:200px;
overflow:hidden;
margin-left:-15;
}
header h2

{float:right;
margin-top:-20;
background-color:green;
width:200px;
height:200px;
overflow:hidden;
margin-right:-15;
}
div.rk
{
float:right;
}


footer 
{
background-image:url("raj.jpg");
background-repeat:y;

}
div.u
{

color:red;
}


body
{
border:5px solid blue;
}
